<div class="row">
  <div class="col-lg-6">
    <nb-card >
      <nb-card-header>Charge points by type</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>New Charging Points</nb-card-header>
      <nb-card-body>
        <ngx-echarts-line></ngx-echarts-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card size="tiny">
      <nb-card-header>Faults & Connectivity Loss</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="h1 value">12</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card size="tiny">
      <nb-card-header>Total Revenue</nb-card-header>
      <nb-card-body>
        <div class="info">
          <div class="h1 value">45,895</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card size="tiny">
      <nb-card-header>Active Charging Sessions</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
  
</div>
